
.stakeholderList {
    /*margin-left: 25%;*/
    width: 100%;
    word-wrap: break-word;
}

.stakeinput{
    margin: 20px;
    width: 100%;
    justify-content: center;

}

.stakeholder-form{
    width: 100%;
}

input{
    margin: 10px;
}

li{
    list-style-type:none;
}

table ,td ,th{
    margin: 50px;
    justify-content: center;
    table-layout:fixed;
    width:100%;
    padding-right: 0px;
}

th {
    height: 50px;
    background-color: steelblue;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}