
.usecaseinput{
    margin: 20px;
}
.usecase-form{
    margin: 20px;
    padding-left: 30px;
}

.addButton{
    /*Here is the trick*/
    position: fixed;
    /*width: 50px;*/
    /*height: 40px;*/
    /*alignItems: center;*/
    justify-content: center;
    right: 5%;
    bottom: 5%;
}

input{
    margin: 10px;
}

li{
    list-style-type:none;
}

table ,td ,th{
    /*margin: 40px;*/
    padding-right: 0px;
    padding-left: 75px;
    padding-bottom: 10px;
}

th {
    height: 50px;
    background-color: steelblue;
    color: white;
}
tr:nth-child(even) {background-color: #e0dede;}